<ion-view view-title="Smart Tour Guide" id="tour-view">
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/home" nav-clear>Start</a>
    </ion-nav-buttons>

    <ion-slide-box show-pager="true">
        <ion-slide>
            <span class="icon icon-slide ion-document-text"></span>
            <h3>Smart Tour Guide</h3>
        </ion-slide>
        <ion-slide>
            <span class="icon icon-slide ion-fork"></span>
            <h3>Tour Mode</h3>
        </ion-slide>
        <ion-slide>
            <span class="icon icon-slide ion-ios-sunny"></span>
            <h3>Course Making Tool</h3>
        </ion-slide>
    </ion-slide-box>
</ion-view>

