<ion-view view-title="GiveLink" hide-back-button="true">
    <ion-content>
        <div class="list">
            <a href="#/reservation" class="item item-icon-left">
                <i class="icon ion-document-text"></i> Bland Image 
            </a>
            <a href="#/weather" class="item item-icon-left">
                <i class="icon ion-ios-partlysunny"></i> Self Tour Mode 
            </a>
            <a href="#/restaurants" class="item item-icon-left">
                <i class="icon ion-fork"></i> Guide Tour Mode 
            </a>
        </div>
    </ion-content>
</ion-view>